server:
#端口10001
  port: 10001

spring:
  application:
    name: eureka-client-one

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:10000/eureka/
management:
  endpoints:
    web:
      exposure:
        include: "*"
      cors:
        allowed-origins: "*"
        allowed-methods: "*"